body {
    background: #48b6c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #79d0d1, #56cf8f);
background: linear-gradient(to right, #79d0d1, #56cf8f);
}
header {
    margin: 30px 0;
}
.contenido {
    padding:20px;
}
.contenido-principal {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}
.presupuesto p{
    margin-bottom: 0;
    font-weight: bold;
}
.presupuesto p span {
    font-weight: normal;
}
#gastos {
    margin-bottom: 20px;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: white;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color:#004e92;
    font-size: 22px;
    margin-bottom:30px;
}